.wrapper {
    background-color: var(--secondary);
    margin: 5px 10px;
    padding: 5px 10px;
    color: white;
    min-width: 100px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;

    .icon{
        padding-left: 10px;
        &:hover {
            transform: scale(1.1);
            color: var(--primary);
        }
    }
}