.post {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  &:hover {
    transform: scale(101%);
  }
  background-color: var(--white);
  .icon {
    margin-right: 10px;
    + .icon {
      margin-left: 20px;
    }
  }

  .red {
    color: red;
  }

  .creator {
    position: relative;
    top: -20px;
  }
}

.hot {
  background: linear-gradient(
    to bottom right,
    #cdfadb,
    #f6fdc3,
    #ffcf96,
    #ff8080
  );
}
