.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 80vw;
  margin: 50px auto;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  & input {
    width: 75vw;
  }

  & .textarea {
    width: 70vw;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.submitButton {
  margin-top: 20px;
  width: 100%;
}
