.wrapper {
  display: flex;
  justify-content: center; // Căn giữa theo chiều ngang
  align-items: center; // Căn giữa theo chiều dọc
  height: 85vh;
  .add-friend {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .chat-list {
    flex: 3;
    background-color: white;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    .chat {
      &:hover {
        background-color: var(--secondary);
      }
    }

    .active {
      background-color: var(--secondary);
      user-select: none;
    }

    .user {
      float: none;
    }

    .red {
      background-color: red;
      color: white;
      padding: 0px 10px;
      border-radius: 999px;
    }

    .message {
      margin-left: 60px;
      font-style: italic;
      cursor: pointer;
    }
  }

  .chat-container {
    flex: 7;
  }

  // Media query cho mobile
  @media (max-width: 768px) {
    .chat-list {
      flex: 3;
      .message {
        display: none;
      }
    }

    .chat-container {
      flex: 7;
    }
  }
}
