
.login-google-btn, .login-facebook-btn, .login-github-btn {
    margin: 10px 0;
    color: white;
    width: 100%;
  }
  
  .login-google-btn {
    background-color: #DB4437;
  }
  
  .login-facebook-btn {
    background-color: #4267B2;
  }
  
  .login-github-btn {
    background-color: #6e5494;
  }