.alert {
  position: fixed;
  top: 75px;
  left: 10px;
  z-index: 1;
  padding: 15px;
  width: 20%;
  margin: 10px 0;
  border-radius: 4px;
  font-size: 14px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.error {
    background-color: var(--danger);
  }

  &.success {
    background-color: var(--success);
  }
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  margin-left: 15px;
  line-height: 1;
}
