.wrapper {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  margin: 2vh 5vh;
  border-radius: 10px;

  .content {
    word-break: break-all;
  }

  .liked {
    color: red;
  }
  .act-btn {
    margin: 10px;
    .share-btn, .delete-btn {
      float: inline-end;
    }
  }
}
